.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.hidden-text {
  text-indent: -9999px;
  overflow: hidden;
}
